#about {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    background-color: #ffffff;
    gap: 200px;

}

#about img {
    width: 350px;
}

.AboutMe p {
    font-size: 1.2rem;
    color: black;
}

.AboutMe h1 {
    color: #555;
    font-size: 30px;
    margin-bottom: 50px;
}

.AboutMe h2 {
    color: #555;
    margin-bottom: 30px;
}

.AboutMe span {
    color: #333;
}