#about {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
   flex-wrap: wrap;
    gap: 200px;

}

#about img {
    width: 450px;
}

.AboutMe p {
    font-size: 1.2rem;

}

.AboutMe h1 {

    font-size: 30px;
    margin-bottom: 50px;
}

.AboutMe h2 {
 
    margin-bottom: 30px;
}

.AboutMe span {
    color: #ffffff;
}
.AboutMe img{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}