
#contact {
    text-align: center;
    padding: 40px;
  }


  .contactIcons {
    display: flex;
    align-items: center; 
    justify-content:space-around;
    margin-top: 20px; 
 
  }
  
  .contactIcons a img {
    width: 80px; 
    height: 80px; 
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 8px; 
  }

  .contactIcons a img:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 15px rgba(202, 202, 202, 0.2);
}
  
#contact h1{
    color: #ffffff; 
    font-size: 2rem;
}
footer{
  padding-top: 90px;
}